<h4 class= "text-align center"><%= link_to @store.name, @store %> Payroll</h4>
<h5 class= "text-align center"><%= "#{@calc.start_date.strftime("%D")} - #{@calc.end_date.strftime("%D")}" %></h5>
<div class="card">
  <div class="card-content">
    <table class="striped highlight">
      <thead>
        <th>Employee</th>
        <th>Pay Earned</th>
        <th>Pay Grade</th>
        <th>Pay Rate</th>
      </thead>

      <tbody>
        <% @payrolls.each do |payroll| %>
          <tr>
            <td><%= link_to payroll.employee_name, employee_path(payroll.employee) %></td>
            <td><%= "$#{sprintf('%.2f', payroll.pay_earned.ceil(2))}" %></td>
            <td><%= payroll.pay_grade %></td>
            <td><%= "$#{payroll.pay_rate}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>