<div class="card">
  <div class="card-content">
    <h4 class= "text-align center"><%= @employee.proper_name %></h4>
    <h5 class= "text-align center"><%= @employee.role.capitalize %></h5><br />

      <% unless @employee.current_assignment.nil? %>
        <b>Current Assignment:&nbsp;&nbsp;</b>

        <%= link_to @employee.current_assignment.store.name, store_path(@employee.current_assignment.store) %>
        since <%= @employee.current_assignment.start_date.strftime("%b %-d, %Y") %><br /><br />

        <b>Current Pay Grade: </b>
        <%= link_to @employee.current_pay_grade, pay_grade_path(@employee.current_assignment.pay_grade) %>
        <br> <br>
        <b>Current Pay Rate: </b>
        <%="$#{@employee.current_pay_rate}" %>
        <br><br>
      <% end %>

    <b>Phone:&nbsp;&nbsp;</b><br>
      <%= number_to_phone @employee.phone %><br /><br />

    <b>Social Security Number:&nbsp;&nbsp;</b><br>
      <%= number_to_ssn @employee.ssn %><br /><br />

    <b>Date of Birth:&nbsp;&nbsp;</b><br>
      <%= @employee.date_of_birth.to_datetime.strftime("%b %-d, %Y") %><br /><br />


    <b>Active with AMC?&nbsp;&nbsp;</b>
      <%= @employee.active ? "Yes" : "No" %>
      <br>
  </div>
</div>
