<h5 class= "text-align center">Results for <%= model_name.capitalize.pluralize %> with name matching <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h5>
<p class="supertiny">&nbsp;</p>

<% unless list.empty? %>
  <ul>
    <% for object in list do %>
      <li>
          <%= link_to(eval("#{model_name}_path(object)")) do  %>
            <%= object.name %>
          <% end %>
      </li>
      
    <% end %>
  </ul>
  <p class="smtext">&nbsp;</p>
<% end %>
